:root {
  font-family: "Montserrat", sans-serif;

  /* Color variables */
  --main: #0ca;
  --dark: #151515;
  --light: #e5e5e5;

  /* Theme depends on system settings */
  color-scheme: light dark;
  --primary: light-dark(var(--dark), var(--light));
  --secondary: light-dark(var(--light), var(--dark));

  /* Applying theme */
  color: var(--primary);
  background-color: var(--secondary);
}

/* RESET STYLES */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}
